{block #headstart}
    {include _styles.latte}
{/block}

{block #content}

<div class="container upgrade">
    {control snippet 'upgrade-header'}

    <div class="row">
        <div class="col-md-12">
            <h1><span n:block=title>{_upgrades.frontend.upgrade.select.select_upgrade}</span></h1>
            <p>
                {capture $subscriptionType}{$upgraders[0]->getBaseSubscription()->subscription_type->user_label}{/capture}
            {_upgrades.frontend.upgrade.select.current_subscription_type, [
                subscription_type => $subscriptionType,
                ]|noescape}
            </p>
        </div>

        <div class="col-md-6 select-card">
            <hr />
            <table>
                {foreach $upgraders as $i => $upgrader}
                    <tr>
                        <td>
                            {_upgrades.frontend.upgrade.select.upgraded_to} <b>{$upgrader->getTargetSubscriptionType()->user_label}</b>
                        </td>
                        <td style="padding: 0.5em; vertical-align: top;">
                            <a href="{plink subscription upgraderId => $i}{$queryString}" class="pay-button btn btn-primary">{_upgrades.frontend.upgrade.select.show_conditions}</a>
                        </td>
                    </tr>
                {/foreach}
            </table>
        </div>
    </div>
</div>

<script src="/layouts/dennikn/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/layouts/default/js/iframeResizer.contentWindow.min.js"></script>
