services:
	moduleManager:
		setup:
			- addModule(Crm\UpgradesModule\UpgradesModule())

	subscriptionsRepository:
		setup:
			- registerType(Crm\UpgradesModule\UpgradesModule::SUBSCRIPTION_TYPE_UPGRADE)

	upgradeSchemasRepository: Crm\UpgradesModule\Repositories\UpgradeSchemasRepository
	upgradeOptionsRepository: Crm\UpgradesModule\Repositories\UpgradeOptionsRepository
	subscriptionTypeUpgradeSchemasRepository: Crm\UpgradesModule\Repositories\SubscriptionTypeUpgradeSchemasRepository
	subscriptionUpgradesRepository: Crm\UpgradesModule\Repositories\SubscriptionUpgradesRepository

	- Crm\UpgradesModule\Components\AvailableUpgradesForSubscriptionTypeWidget\AvailableUpgradesForSubscriptionTypeWidget
	- Crm\UpgradesModule\Components\PaidRecurrentWidget\PaidRecurrentWidget
	- Crm\UpgradesModule\Components\ShortWidget\ShortWidget
	- Crm\UpgradesModule\Components\FreeRecurrentWidget\FreeRecurrentWidget
	- Crm\UpgradesModule\Components\UserPaymentsListingBadge\UserPaymentsListingBadge
	- Crm\UpgradesModule\Models\Upgrade\AvailableUpgraders
	- Crm\UpgradesModule\Models\Upgrade\ActualUserSubscriptions
	- Crm\UpgradesModule\Models\Upgrade\SpecificUserSubscriptions
	- Crm\UpgradesModule\Events\PaymentStatusChangeHandler

	paidExtendWidget:
		factory: Crm\UpgradesModule\Components\PaidExtendWidget\PaidExtendWidget
		setup:
			- addPaymentGateway(cardpay, "Platobná karta - jednorázová platba")
			- addPaymentGateway(csob, "Platební karta - jednorázová platba")
			- addPaymentGateway(tatrapay, "TatraPay")
			- addPaymentGateway(bank_transfer, "Bankový prevod")
			- addPaymentGateway(proforma_invoice, "Platba predfaktúrou")

	upgraderFactory:
		factory: Crm\UpgradesModule\Models\Upgrade\UpgraderFactory
		setup:
			- registerUpgrader(\Crm\UpgradesModule\Models\Upgrade\PaidRecurrentUpgrade())
			- registerUpgrader(\Crm\UpgradesModule\Models\Upgrade\PaidExtendUpgrade())
			- registerUpgrader(\Crm\UpgradesModule\Models\Upgrade\ShortUpgrade())
			- registerUpgrader(\Crm\UpgradesModule\Models\Upgrade\FreeRecurrentUpgrade())
